<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>AzureWebApp</PublishProtocol>
    <PublishSiteName>site40611</PublishSiteName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishUrl>https://site40611.scm.siteasp.net/api/zipdeploy</PublishUrl>
    <UserName>site40611</UserName>
    <Password>p=3KP4a+h_9L</Password>
    <Configuration>Release</Configuration>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://beshpd.runasp.net/</SiteUrlToLaunchAfterPublish>
  </PropertyGroup>
</Project>